.contact-div {
    color: #edfdf8;
    padding: 7% 7%;
    width: 100%;
    margin: 10% auto 40%;
    position: relative;
    background-color: #74ac957c;
    text-shadow: 1px 1px 1px rgb(53, 78, 68);
}

.contact-div h3 {
    font-size: 10vw;
    margin-top: 7px;
    color: #edfdf8;
    text-shadow: 1px 1px 1px rgb(53, 78, 68);
}

.input-field>label {
    font-size: 1.5rem;
}

  /* label color */
  .input-field label {
    color: #edfdf8;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #edfdf8;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #edfdf8;
    box-shadow: 0 1px 0 0 #000;
  }

  .input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #edfdf8;
  }

  input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
      border-bottom: 1px solid #718b81;
  }

  input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #ED5B46;
      box-shadow: 0 1px 0 0 #ED5B46;
      -webkit-box-shadow: 0 1px 0 0 #ED5B46;
  }

  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

.btn-orange { 
    color: #edfdf8;
    background-color: #ED5B46;
}

.btn:hover {
    color: #ED5B46;
    background-color: #f7e06c
}

/**
 * ----------------------------------------
 * MEDIA QUERIES
 * ----------------------------------------
 */

 @media only screen and (min-width: 650px) {

    .contact-div {
        margin: 5% auto 14%;
    }

    .contact-div h3 {
        font-size: 4vw;
    }

    .input-field>label {
        font-size: 2.3rem;
        line-height: 1.5rem;
    }
 }