body {
  background-color: #8BD0B4;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 2em;
}

.wrapper-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}

.greeny-text {
  color: #D8EEE7;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -38px;
  width: 10px;
  height: 48px;
  /* background-image: url(../images/scroll.svg);
  background-size: contain; */
  z-index: 1;
}

@media only screen and (min-width: 650px) {
.scroll-down {
    bottom: 30px;
    left: 50%;
    margin-left: -38px;
    width: 10px;
    height: 48px;
}
}

.scroll-down.bounce-top{animation:bounce-top 2s ease-in infinite alternate-reverse both}

@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}