body {
  background-color: #8BD0B4;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-div {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeny-text {
  color: #D8EEE7;
}