.about-me {
    margin:0;
}

.about-me-text {
    color: #D8EEE7;
    padding: 7% 7%;
    width: 100%;
    margin: 2% auto 0%;
    z-index: 500;
    position: relative;
    background-color: #74ac957c;
    text-shadow: 1px 1px 1px rgb(53, 78, 68);
}

@media only screen and (min-width: 650px) {

    .about-me {
        padding: 0% 20%;
    }

   .about-me-text {
    color: #D8EEE7;
    padding: 8% 8%;
    width: 100%;
    margin: 7% auto 4%;
    z-index: 500;
    position: relative;
    background-color: #74ac957c;
    text-shadow: 1px 1px 1px rgb(53, 78, 68);
    } 
}
